* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation:hover {
  color: teal !important;
}

.name {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Anton", sans-serif;
}

.name:hover {
  transform: scale(1.1);
  transition: 500ms linear;
  text-shadow: 1px 1px 2px teal;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.title-container {
  display: flex;
  position: relative;
  cursor: pointer;
}

.title-component {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.title-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Anton", sans-serif;
  font-size: 50px;
  border-bottom: 2px solid teal;
  color: black;
}

.title-name:hover {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 100px;
  transform: scale(1.1);
  transition: 500ms linear;
  transition-timing-function: ease-in-out;
}

.subtitle {
  font-weight: bold;
}

.aboutMe-div {
  width: 100%;
  height: 100vh;
  position: relative;
}

.aboutMe-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 300px;
  color: lightgray;
  letter-spacing: 3px;
  position: absolute;
  z-index: -1;
}

.aboutMe-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;

  text-align: justify;
  font-weight: 700;
  font-style: italic;
  font-size: 36px;
  letter-spacing: 3px;
  text-shadow: 1px 0px 3px teal;
}

.projects-div {
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}

.projects-header {
  margin-top: 20px;
  padding: 50px;
  text-transform: uppercase;
  font-weight: bold;

  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 40px;
}

.object-image {
  margin: 10px;
  height: 300px;
  width: auto;
  border: 3px solid teal;
  object-fit: cover;
  outline: none;
}

.project-card {
  display: flex;
  height: 50vh;
  width: 50%;
  text-align: justify;
  background-color: black;
  color: white;
  overflow: hidden;
}

.image-placeholder {
  width: auto;
  height: 200px;
  margin: 10px;
  border: 2px solid teal;
  border-radius: 10px;
  object-fit: cover;
}

.project-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.projectCard-col {
  display: flex;
  justify-content: center;
}

.btn-product {
  background-color: teal;
  border: none !important;
}

.btn-product:hover {
  border: none !important;
  background-color: red;
}

.card-style {
  background-color: black;
  color: white;
}

.card-style:hover {
  transform: scale(1.1);
  transition: 500ms linear;
  text-shadow: 1px 1px 2px black, 0 0 25px teal, 0 0 5px teal;
  box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
    1px 2px 4px 0px rgba(0, 255, 255, 0.8),
    2px 4px 8px 0px rgba(0, 255, 255, 0.8),
    2px 4px 16px 0px rgba(0, 255, 255, 0.9);
}

.carousel-image {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  border: 2px solid teal;
}

.carousel-properties {
  width: 60%;
  height: 40vh;
  border: 2px solid teal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: block;
  color: black;
  border-radius: 10px;
}

.carousel-properties:hover {
  transform: scale(1.1);
  transition: 500ms linear;
  text-shadow: 1px 1px 2px black, 0 0 25px teal, 0 0 5px teal;
}

.project-title-div {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  width: 50%;
}

.btn-portfolio {
  background-color: teal;
  color: white;
  margin: 10px;
  border: none;
}

.btn-portfolio:hover {
  background-color: red;
}

.contact-div {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-header {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 40px;
}
.contact-form {
  margin-top: 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid teal;
  border-radius: 10px;
  padding: 20px;
  color: white;
  background-color: black;
  justify-content: space-between;
}

.contact-form:hover {
  transform: scale(1.1);
  transition: 500ms linear;
  box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
    1px 2px 4px 0px rgba(0, 255, 255, 0.8),
    2px 4px 8px 0px rgba(0, 255, 255, 0.8),
    2px 4px 16px 0px rgba(0, 255, 255, 0.9);
}

.btn-form {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: teal;
}

.btn-form:hover {
  background-color: red;
}

.footer-container {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: teal;
  width: 100%;
  height: 50px;
}
.footer-container li {
  cursor: pointer;
}

.footer-contact-section {
  list-style-type: none;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.footer-contact-section p {
  display: none;
}

.footer-contact-section-icons {
  display: none;
}

.profile-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

.profile-card {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 2px solid teal;
  border-radius: 10px;
}

.cover-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 50px;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border: 2px solid teal;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, 0);
}

.card-title {
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}

.toolbox {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
}

.toolbox-image:hover {
  transform: scale(1.5);
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
input {
  border: none;
  padding-left: 2px;
}
input:focus {
  outline: none;
}
@media only screen and (max-width: 768px) {
  .project-row {
    display: flex;
    justify-content: center;
  }

  .projectCard-col {
    display: flex;
    justify-content: center;
    margin: 24px 0px;
  }
}
@media only screen and (max-width: 425px) {
  .toolbox {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 2px;
  }
  .toolbox-image {
    height: 30px;
    width: 30px;
  }
  .contact-form {
    margin-top: 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid teal;
    border-radius: 10px;
    padding: 20px;
    color: white;
    background-color: black;
    justify-content: space-between;
  }

  .footer-contact-section p {
    display: none;
  }

  .title-name {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Anton", sans-serif;
    font-size: 35px;
    border-bottom: 2px solid teal;
    color: black;
  }

  .title-name:hover {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    color: #fff;
    background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 35px;
    transition: 500ms linear;
    transition-timing-function: ease-in-out;
  }
}
